<%- include('partials/header') %>

<main>
  <img alt="" src="img/login-side-img.jpg" />
  <section id="log-in">
    <a id="logo" href="#">
      <img src="Logo and Poster/StockXtreme Logo.png" alt="" />
    </a>
    <div style="margin: 0 auto">
      <div>
        <form action="">
          <div class="form-container">
            <label for="">Email or Username</label>
            <input type="text" />
          </div>
          <div class="form-container">
            <label for="">Password</label>
            <input type="password" id="password" name="password">
            <a href="">Forgot password or can't sign in</a>
          </div>
          <div id="remember-checkbox">
            <input type="checkbox" />
            <label for="">Remember me</label>
          </div>

          <button>Sign in</button>
        </form>
        <span class="separator">
          or <span class="first_color_font">Sign in with</span>
        </span>
        <div id="quick-login">
          <a href="/auth/google" class="quick-login-options">
            <img src="img/icon/icons8-google.svg" alt="" />
            <span> Google </span>
          </a>
          <a href="" class="quick-login-options">
            <img src="img/icon/icons8-facebook.svg" alt="" />
            <span> Facebook </span>
          </a>
          <a href="" class="quick-login-options">
            <img src="img/icon/icons8-apple.svg" alt="" />
            <span> Apple </span>
          </a>
          <a href="" class="quick-login-options">
            <img src="img/icon/icons8-linkedin.svg" alt="" />
            <span> Linkedin </span>
          </a>
        </div>
      </div>
    </div>
    <div id="sign-up">
      <p>Do not have an account? <a href="Sign-up-pop.html">Sign up</a></p>
    </div>
  </section>
</main>

<%- include('partials/footer') %>

