.my-svg-alternate {
    display: none;
  }
  .no-svg .my-svg-alternate {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(image.png);
  }

  #time-3-icon {
    fill: blue;
 }